body {
	font-family: Arial, serif;
}

form {
	margin-bottom: 25px;
}

fieldset {
	box-sizing: border-box;
	margin-bottom: 25px;
	padding: 15px;
    max-width: 600px;
    width: 100%;
}

.fieldGridWrapper {
	display: grid;
	grid-gap: 15px;
}

.fieldGridWrapper label {
	font-weight: 700;
	white-space: nowrap;
}

.taskRow {
	display: grid;
	grid-template-columns: repeat(7, auto);
	grid-gap: 10px;
}

.taskCompleted:checked ~ label, .taskCompleted:checked ~ input {
	text-decoration: line-through;
}

label[for=listNameFld] {
	margin-right: 10px;
}

.taskDueMMFld, .taskDueDDFld, .taskDueYYYYFld {
	width: 50px;
}

.btn {
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	padding: 10px;
	text-decoration: none;
}

.btn:hover {
	background-color: #98B6D4;
	color: #fff;
}